API_KEY=change_this_to_a_secure_key
DB_USER=change_this_to_a_secure_user
DB_PASSWORD=change_this_to_a_secure_password
DB_SERVER=change_this_to_a_secure_server
DB_PORT=change_this_to_a_secure_port
DB_NAME=change_this_to_a_secure_database_name
REDIS_HOST=change_this_to_a_secure_redis_host
REDIS_PORT=change_this_to_a_secure_redis_port
